/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* color: #6c8ae4;
color: #544CA0;
color: #2B9ABF; */

* {
    box-sizing:border-box;
}
 main#root {
    max-width: 1600px;
    max-width: 80%;
    background: #FFFFFF;
    min-height: 100%;
    margin: 25px auto;
}

body {
    background: #f7f7f7;
    font-family: 'Cabin', sans-serif;
}

html, body {
    height: 100%;
    margin: 0px;
}

.logo-container h1 {
    font-size: 1.3em;
    margin: 0px;
    line-height:1;
}

.logo-container p {
    font-size: .7em;
    margin: 0px;
}

.logo-container {
    display: flex;
}

.logo {
    color: #2B9ABF;
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 10px;
}
.logo-content {
    align-self: center;
}


header {
    padding: 5px 20px;
    border-bottom: 1px solid #eeeeee;
}

section.banner {
    min-height: 416px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.banner:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: image_url('/assets/alcohol-architecture-bar-260922.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
    filter: contrast(0.65);
}
section.banner:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(0,0,0,0.2);
    z-index:0;
}
.banner h2 {
    position: relative;
    z-index: 1;
    letter-spacing: .5px;
    font-size: 2em;
}

section.banner {
    color: #FFFFFF;
}

header {
    display: flex;
    align-items: center;
}

[class^="readon"] {
    padding: 0px 16px;
    display: inline-block;
    line-height: 2.5;
    border-radius: 4px;
    font-size: 0.75em;
    text-decoration: none;
    border:none;
}
button{
    cursor:pointer;
}
.readon {
    background-color: #2B9ABF;
    color: #FFFFFF;
    font-family: inherit;
}

nav.login-signup {
    margin-left: auto;
    position: relative;
    border-left: 1px solid #dddddd;
    padding-left: 15px;
}

.readon-blank {
    color: inherit;
}

.form-container {
    max-width: 460px;
    padding: 36px;
    margin:0 auto;
}

.form-container h2 {
    margin: 0px;
    font-weight:500;
}

label {
    display: none;
}

input {
    display: block;
    margin: 8px 0px;
    padding: 16px;
    font-weight: bold;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 4px;
    font-family:inherit;
}

.readon-submit {
    display: block;
    max-width: none;
    width: 100%;
    font-size: 19px;
        background-color: #2B9ABF;
    color: #FFFFFF;
    
}

.header-greeting {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-greeting .header-name {
    margin-right: 15px;
}

.modal-background {
    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index:10;
}

.modal-child {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    background: #FFF;
    position:relative;
}
.close-x {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

form p {
    font-size: .8em;
}

button.readon-outline {
    border: 1px solid #dddddd;
    width: 100%;
    background: none;
}