/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* color: #6c8ae4;
color: #544CA0;
color: #2B9ABF; */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
  font-family: "Cabin", sans-serif;
  color: #333;
  font-size: 16px;
}
main#root {
  max-width: 1600px;
  // max-width: 80%;
  background: #ffffff;
  min-height: 100%;
  margin: 25px auto;
}
footer {
  padding: 20px;
  background: #333333;
  color: #acacac;
  font-weight: bold;
}

.fade-appear {
  opacity: 0;
  transition: all 500ms linear;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 500ms linear;
}
.fade-enter {
  opacity: 0;
  transition: all 500ms linear;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 500ms linear;
}
html,
body {
  height: 100%;
  margin: 0px;
}

.logo-container h1 {
  font-size: 1.3em;
  margin: 0px;
  line-height: 1;
}

.logo-container p {
  font-size: 0.7em;
  margin: 0px;
}

.logo-container {
  display: flex;
}

.logo {
  color: #2b9abf;
  display: flex;
  align-items: center;
  font-size: 2em;
  padding: 10px;
}
.logo-content {
  align-self: center;
}

header {
  padding: 5px 20px;
  border-bottom: 1px solid #eeeeee;
}

section.banner {
  min-height: 416px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.banner:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: image-url("alcohol-architecture-bar.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
  filter: contrast(0.65);
}
section.banner:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.banner h2 {
  position: relative;
  z-index: 1;
  letter-spacing: 0.5px;
  font-size: 2em;
}

section.banner {
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
}

[class^="readon"] {
  padding: 0px 16px;
  display: inline-block;
  line-height: 2.5;
  border-radius: 4px;
  font-size: 0.75em;
  text-decoration: none;
  border: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
.readon {
  background-color: #2b9abf;
  color: #ffffff;
  font-family: inherit;
}

nav.login-signup {
  margin-left: auto;
  position: relative;
  border-left: 1px solid #dddddd;
  padding-left: 15px;
}

.readon-blank {
  color: inherit;
}

.modal-child .form-container {
  min-width: 460px;
  padding: 36px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 0px 26px;
}

.modal-child .form-container h2 {
  margin: 0px;
  font-weight: 500;
}

.form-container label {
  display: none;
}
.restaurant-form label {
  display: none;
}
input {
  display: block;
  margin: 8px 0px;
  padding: 16px;
  font-weight: bold;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: inherit;
}

.readon-submit {
  display: block;
  max-width: none;
  width: 100%;
  font-size: 19px;
  background-color: #2b9abf;
  color: #ffffff;
}

.header-greeting {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-greeting .header-name {
  margin-right: 15px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container {
  background: #fff;
  position: relative;
}
.close-x {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.inner-container {
  max-width: 1280px;
  margin: 0 auto;
}
.logo-container a {
  display: flex;
  text-decoration: none;
  color: inherit;
}
.modal form p {
  font-size: 0.8em;
}

button.readon-outline {
  border: 1px solid #dddddd;
  width: 100%;
  background: none;
}

.form-footer p {
  display: flex;
}

.form-footer p button {
  margin-left: auto;
}

.highlight {
  background: none;
  color: #2b9abf;
}

button.readon-outline {
  color: inherit;
  padding: 16px;
}

button {
  font-family: "Cabin", sans-serif;
  cursor: pointer;
}

.form-containe button:focus,
.form-container input:focus {
  outline: 2px solid #acacac;
  border-color: rgba(0, 0, 0, 0.2);
}

.form-container button.readon-outline {
  font-size: 16px;
}

button.readon-blank:focus {
  outline: none;
}

li.error {
  list-style-type: none;
  font-weight: bold;
  color: #d30303;
}

ul.errors {
  padding: 0px;
}

.readon-submit:hover {
  background-color: #1b6179;
}

[class^="readon"] {
  transition: 0.3s all;
}

button.readon-outline:hover {
  border-color: #2b9abf;
}

.readon-submit:hover {
  background-color: #1b6179;
}

[class^="readon"] {
  transition: 0.3s all;
}

button.readon-outline:hover {
  border-color: #2b9abf;
}

.modal-child .form-container {
  border-bottom: 5px solid #2b9abf;
}

.readon-blank,
.readon-outline {
  position: relative;
}

.readon-blank:after {
  position: relative;
  width: 0px;
  content: "";
  display: block;
  height: 1px;
  background: #2b9abf;
  margin: 0 auto;
  transition: 0.3s;
}

.readon-blank:hover:after {
  position: relative;
  width: 100%;
  content: "";
  display: block;
  height: 1px;
  bottom: 0;
}

.readon-outline p {
  margin: 0;
  display: inline-block;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.restaurant-form {
  display: flex;
  flex-wrap: wrap;
}

textarea[placeholder] {
  text-transform: capitalize;
  font-weight: bold;
}

textarea {
  font-family: inherit;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

input[placeholder],
textarea[placeholder] {
  text-transform: capitalize;
}

ul.restaurants-container {
  overflow-x: scroll;
}

li.restaurant-item {
  min-width: 25%;
}

.thumbnail {
  overflow: hidden;
}

.thumbnail-img {
  z-index: 2;
}

.thumbnail:after {
  z-index: 3;
}
