@import "./variables";
.thumbnail {
  min-height: 132px;
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul.restaurant-quick-links li {
  padding: 0px 16px;
  cursor: pointer;
}

li.restaurant-item {
  max-width: 25%;
  list-style-type: none;
  border: 1px solid #d8d9db;
  margin-right: 10px;
  border-radius: 4px;
  flex: 1;
}

ul.restaurants-container {
  margin: 0px;
  display: flex;
  padding: 20px 0px;
}
.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-restaurants {
  padding: 20px;
}

.featured-header a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
}

.featured-header h2 {
  line-height: 1;
}
li.restaurant-item:hover {
  -webkit-box-shadow: 0 2px 4px rgba(45, 51, 63, 0.2);
  box-shadow: 0 2px 4px rgba(45, 51, 63, 0.2);
  -webkit-transform: translate(0, -6px);
  transform: translate(0, -6px);
}

.restaurant-details {
  padding: 10px;
}

.thumbnail i {
  font-size: 3em;
  opacity: 0.4;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.thumbnail-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

li.restaurant-item {
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

li.restaurant-item:hover .thumbnail i,
li.restaurant-item:hover .thumbnail-img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

p.restaurant-name {
  font-weight: bold;
  text-transform: capitalize;
}

h3.restaurant-name {
  margin: 0px 0px 5px 0px;
  font-size: 1em;
}

li.restaurant-item a {
  text-decoration: none;
  color: inherit;
}

.restaurant-details p {
  margin: 0px;
  font-size: 0.9em;
}
p.restaurant-location ul {
  display: flex;
  padding-left: 0px;
}

p.restaurant-location ul li {
  display: flex;
  align-items: center;
  text-align: left;
}

p.restaurant-booked {
  font-weight: 600;
}
.thumbnail {
  position: relative;
}

.thumbnail:after {
  position: absolute;
  content: "";
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.3;
  transition: 0.3s;
}

.thumbnail i {
  z-index: 1;
}

li.restaurant-item:hover .thumbnail:after {
  opacity: 0.6;
}

section.restaurant-featured-image {
  min-height: 459px;
  background: #eeeeee;
}

.booking-header {
  display: flex;
  justify-content: space-between;
}

.available-times {
  display: flex;
  white-space: pre-wrap;
  margin: 0px -10px;
}

.available-times button {
  flex: 1;
  margin: 10px;
  max-width: 20%;
}

.restaurant-quick-links li.active:after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 2;
  background: $primary-accent-color;
  height: 3px;
}
ul.restaurant-quick-links li:after {
  transition: 0.3s;
  height: 0px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
ul.restaurant-quick-links li.active {
  color: $primary-accent-color;
}
ul.restaurant-quick-links li {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.3s;
}

li.restaurant-index-item {
  margin: 20px 0px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

ul.restaurants-list {
  margin: 0px 20px;
}

.restaurant-details {
  padding-left: 20px;
}

.thumbnail {
  border-radius: 4px;
}

section.restaurant-content-wrap {
  max-width: 992px;
  margin: 0 auto;
  display: flex;
}

main.restaurant-content {
  background: #ffffff;
  margin-top: -50px;
  flex: 1;
}

aside.restaurant-sidebar {
  margin-top: -50px;
  margin-left: 15px;
  flex: 1;
  max-width: 320px;
}

.sidebar-item {
  display: flex;
}

p.sidebar-item-label {
  margin-top: 0px;
  line-height: 1.4em;
  font-weight: 800;
}

.sidebar-item-icon {
  margin-right: 5px;
  min-width: 20px;
}

section.restaurant-content {
  margin-right: 15px;
}

.restaurant-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin: 0px;
  padding-bottom: 36px;
  margin-bottom: 16px;
  border-bottom: 1px solid #d8d9db;
}

.featured-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

section.restaurant-featured-image {
  position: relative;
}

section.restaurant-content-wrap {
  position: relative;
}

ul.restaurant-quick-links {
  display: flex;
  margin: 0px;
  padding: 0px 8px;
  min-height: 50px;
  position: relative;
}
p.sidebar-item-label + p {
  text-transform: capitalize;
}
ul.restaurant-quick-links li {
  list-style-type: none;
}

ul.restaurant-quick-links li a {
  text-decoration: none;
}

ul.restaurant-quick-links li a {
  padding: 14px 8px;
  display: inline-block;
}

ul.restaurant-quick-links:after {
  content: "";
  position: absolute;
  right: 1rem;
  bottom: 0;
  left: 1rem;
  border-bottom: 1px solid #d8d9db;
}

section.restaurant-content-inner {
  padding: 32px 16px 32px 16px;
}

ul.restaurant-quick-links li a {
  color: inherit;
}

p.sidebar-item-label {
  margin-bottom: 0px;
}

p.sidebar-item-label + p {
  margin-top: 0px;
}
div#map-container {
  width: 100%;
  min-height: 250px;
}
.stars {
  display: flex;
  align-items: center;
}

.stars p {
  margin: 0px 0px 0px 5px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.stars svg {
  color: rgb(225, 225, 225);
}

section.restaurants-container {
  display: flex;
}

section.restaurants-container aside {
  padding: 25px 20px;
  width: 20%;
  display: flex;
  border-right: 1px solid #dddddd;
  align-items: flex-start;
  justify-content: center;
}

ul.restaurants-list {
  flex: 1;
  padding: 0px;
  margin-left: 20px;
}

ul.restaurants-list li {
  list-style-type: none;
}

li.restaurant-index-item a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.thumbnail {
  flex: 1;
}

.restaurant-details {
  flex: 4;
}

.restaurant-details .restaurant-name {
  font-size: 24px;
}

li.restaurant-index-item {
  position: relative;
}

.restaurant-index-item button.highlight {
  position: absolute;
  top: 20px;
  right: 20px;
}

.inner-wrap {
  display: flex;
}
.restaurant-quick-links-wrap {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}
span.noise-level {
  position: relative;
  margin-left: 14px;
}

span.noise-level:before {
  position: absolute;
  content: "\2022";
  left: -11px;
}

.restaurant-additional-stats {
  margin: -5px 0px 15px 0px;
}

.restaurant-ratings-breakdown {
  margin: 10px 0px;
}

span.icon {
  min-width: 20px;
  display: inline-block;
  text-align: center;
}

.stars-container p {
  margin: 0px;
}
.restaurant-ratings {
  display: flex;
}

.restaurant-ratings .back-stars {
  margin-right: 5px;
}
p.restaurant-booked {
  display: flex;
  align-items: center;
}
.reservation-container {
  position: sticky;
  top: 0;
}

.restaurant-index-item .inner-wrap > a {
  flex: 1;
  min-width: 25%;
  max-width: 25%;
}

section.restaurant-featured-image {
  display: flex;
}

.button-container {
  flex: 1;
  position: relative;
  padding: 20px;
  z-index: 1;
}
[class^="readon"] {
  font-size: 16px;
}
.subheader p {
  display: flex;
  padding: 5px;
  margin: 0px;
}
.subheader p:first-child {
  padding-left: 0px;
}
.subheader {
  display: flex;
}

.stars {
  margin-right: 5px;
}

section.restaurant-content-inner h2 {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #d8d9db;
}

.subheader {
  position: relative;
}

.stars-container {
  align-items: center;
  display: flex;
}

.back-stars {
  position: absolute;
  color: #d4d4d4;
  position: relative;
  display: flex;
}

.front-stars {
  color: $primary-accent-color;
  overflow: hidden;
  position: absolute;
  top: 0px;
  transition: all 0.5s;
  vertical-align: middle;
  white-space: nowrap;
}

.back-stars svg {
  vertical-align: middle;
}

.front-stars svg {
  vertical-align: top;
}

li.review-index-item:nth-child(2n) .user-avatar {
  background: #da3743;
}
li.review-index-item:nth-child(3n) .user-avatar {
  background: #d86441;
}

li.review-index-item:nth-child(4n) .user-avatar {
  background: #fdaf08;
}

section.restaurant-featured-image {
  position: relative;
  overflow: hidden;
  perspective: 10px;
  perspective-origin: 0%;
}
section.restaurant-featured-image:after {
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  position: absolute;
}

.featured-img {
  background-attachment: fixed;
  transform-origin: 0;
  transform: translateZ(1px);
}

.restaurant-header-container {
  display: flex;
}

.restaurant-header-container .restaurant-header-left,
.restaurant-header-container .restaurant-header-right {
  flex: 1;
}

.restaurant-header-right {
  display: flex;
  justify-content: flex-end;
}

ul.restaurant-location {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

ul.restaurant-location li:last-child {
  margin-top: auto;
}

.restaurant-header-container span.icon {
  margin: 0px;
}

div#map-container {
  z-index: 0;
  margin: 25px 0px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

.reservation-container {
  z-index: 10;
  border-radius: 4px;
}

@media (max-width: 900px) {
  ul.restaurants-container {
    display: block;
    overflow: auto;
  }

  li.restaurant-item {
    max-width: none;
    display: flex;
    margin: 20px 0px;
  }

  li.restaurant-item > a {
    display: flex;
    min-width: 250px;
    min-height: 150px;
  }

  .restaurant-location ul {
    padding: 0px;
    display: flex;
  }
}

@media (max-width: 1050px) {
  .restaurant-header + aside.restaurant-sidebar {
    margin: 0px;
    max-width: none;
  }

  .reservation-container form {
    display: flex;
    flex-wrap: wrap;
  }

  .reservation-container button.readon-submit {
    width: 100%;
  }

  .reservation-container label {
    width: 33.33333%;
  }

  .date-time {
    width: 66.6666%;
  }
}

@media (max-width: 600px) {
  .search-form .res-container {
    display: block;
  }

  label {
    margin: 15px 0px;
    border-radius: 4px;
  }

  footer .inner-container {
    display: block;
    text-align: center;
  }
  .search-form .res-container {
    display: block;
  }
}
