ul.reviews li {
  list-style-type: none;
}

li.review-index-item {
  display: flex;
}

.review-ratings {
  display: flex;
  flex-wrap: wrap;
}

.author-details {
  padding: 20px;
  border-right: 1px solid #dddddd;
  margin-right: 15px;
}
.author-details p {
  margin: 0px;
}

.rating-container {
  padding: 10px;
}

.rating-container .highlight {
  margin-left: 5px;
}
.ratings-container {
  width: 100%;
  display: flex;
}
.ratings-container .rating-container:first-child {
  padding-left: 0px;
}

li.review-index-item {
  margin: 25px 0px;
  border-top: 1px solid #dddddd;
  padding: 25px 0px;
}

ul.reviews {
  padding: 0px;
}

.author-details .user-avatar {
  background: #2b9abf;
  border-radius: 60px;
  color: #ffffff;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-details p {
  font-weight: bold;
}

p.user-reviews {
  display: flex;
  align-items: center;
  color: #969696;
  font-weight: normal;
  margin: 10px 0px;
}

p.user-reviews div {
  display: flex;
}

.author-details {
  min-width: 150px;
}

p.user-reviews svg {
  margin-right: 5px;
  font-size: 0.8em;
}

.restaurant-ratings-breakdown {
  display: flex;
}

.restaurant-rating-container {
  padding: 10px;
  text-align: center;
}

.restaurant-rating-container p {
  margin: 0;
}

.restaurant-rating-container p:first-child {
  font-weight: bold;
}

.restaurant-rating-container {
  padding: 10px;
  text-align: center;
}
.front-stars {
  width: 0%;
  transition: 0.3s all ease-in;
}
.user-reviews {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-reviews svg {
  font-size: 0.9em;
  margin-right: 5px;
}

.restaurant-bars {
  flex: 1;
  padding-left: 20px;
}

.stats-container {
  display: flex;
}

.stats-overview {
  width: 60%;
}

.stat-bar-container {
  display: flex;
  margin: 10px 0px 10px 10px;
  align-items: center;
  height: 25px;
}

.stat-bar {
  flex: 1;
}

.stat-bar {
  margin-left: 5px;
  border: 1px solid #dddddd;
  height: 100%;
  box-sizing: border-box;
}

.inner-stat-bar {
  background: #2b9abf;
  width: 0;
  transition: 0.3s all ease-in;
  height: 100%;
}
.review-toolbar {
  display: flex;
  margin-bottom: 25px;
}
.stat-bar-container > span {
  display: inline-block;
  min-width: 10px;
}
.stat-bar:hover .inner-stat-bar:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-amount) " reviews";
  position: absolute;
  background: hsla(195, 63%, 25%, .35);
  color: #ffffff;
  left: 0;
  top: 0px;
  bottom: 0px;
  right: 0;
  text-align: center;
}

.stat-bar {
  overflow: hidden;
  position: relative;
}

.stat-bar:hover {
  border-color: #2b9abf;
  cursor: pointer;
  border-width: 2px;
}

.review select {
  min-width: 33%;
  font-size: 1em;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

.review textarea {
  width: 100%;
  margin-bottom: 25px;
}
.sort-dropdown button {
  border: 1px solid #dddddd;
  max-width: none;
  width: 100%;
  display: flex;
  padding: 10px;
  min-height: 41px;
}

.sort-dropdown button > .icon {
  margin: 0px;
  margin-left: auto;
}

.sort-dropdown {
  max-width: 50%;
  flex: 1;
}

.sort-dropdown {
  position: relative;
}

.sort-dropdown button ul {
  position: absolute;
  top: 73px;
  left: 0;
  right: 0;
  padding: 0px;
  margin: 0px;
  background: #ffffff;
  z-index: 1;
  border: 1px solid #ddd;
}

.sort-dropdown button ul li {
  list-style-type: none;
  text-align: left;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s all;
}

span.sort-value {
  text-transform: capitalize;
  font-size: 1.2em;
}

.sort-dropdown button ul li:hover {
  background: rgba(0, 0, 0, 0.05);
}
.form-container .review label {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  font-size: 1.2em;
}

ul.reviews {
  margin-top: 0px;
}

li.review-index-item:first-child {
  margin-top: 0px;
}

.review-container button.readon {
  margin-left: auto;
  align-self: flex-end;
}

.review-container {
  display: flex;
  flex-direction: column;
}

li.review-index-item {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 0px;
}

.review-filter-sort {
  flex: 1;
}

.filter-tag {
  font-size: 1em;
  border: 2px solid #2b9abf;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.filter-tag .icon {
  color: #2b9abf;
  font-size: 1.3em;
}

.author-details {
  margin-right: 0px;
  display: flex;
  background: #f6f6f6;
}

.review-details {
  padding: 20px;
}

.restaurant-rating-container {
  border-right: 1px solid #ddd;
}

.restaurant-rating-container:last-child {
  border-right: 0px;
}

.restaurant-rating-container p:last-child {
  font-weight: bold;
}

.restaurant-rating-container p:first-child {
  font-size: 1.2em;
}

.restaurant-additional-stats {
  opacity: 0.8;
}

.stats-overview > p:first-child {
  font-size: 1.3em;
  margin-top: 0px;
}

.form-container.review-form section {
  display: flex;
  align-items: center;
}

.review-icon {
  padding: 20px;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 200px;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-rating .review-icon {
  background: #da3743;
}
.service-rating .review-icon {
  background: #971c59;
}
.value-rating .review-icon {
  background: #18856b;
}
.noise-rating .review-icon {
  background: #6c8ae4;
}
.ambience-rating .review-icon {
  background: #7c2f8e;
}

.review-stars {
  display: flex;
}

.nav-container {
  display: flex;
}

.nav-buttons {
  margin-left: auto;
}

.review-stars .rating-star {
  font-size: 1.5em;
  padding: 0px;
  color: #d4d4d4;
}

.review-stars button {
  color: inherit;
  padding: 5px;
  font-size: 1.2em;
  display: inline-block;
}

.review-stars button:focus {
  outline: none;
}

.front-stars button svg {
  vertical-align: bottom;
}
section.review-header {
  margin: -36px -36px 0px -36px;
  padding: 36px;
}

.form-container.review-form .review-header + section {
  margin: 0px -36px 0px -36px;
  padding: 36px;
  background: #f1f1f1;
}

.nav-container {
  margin: 0px -36px -36px -36px;
  padding: 18px 36px;
}

.review-content h3 {
  margin-top: 0px;
}

.progress-dots {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
  margin-left: 50px;
  color: #2b9abf;
}

.progress-dots .icon {
  margin: 0px 5px;
  opacity: 0.3;
  min-width: auto;
  transition: 0.3s all;
}

.progress-dots .active {
  opacity: 1;
}
.form-container.review-form .review-header + section {
  transition: 0.3s;
}

.review-icon {
  transition: 0.3s;
}

.review-icon span.icon {
  min-width: 100px;
  text-align: center;
  margin: 0px;
}

.form-container.review-form .review-stars {
  font-size: 1.2em;
}

.nav-buttons {
  min-width: 125px;
  display: flex;
}

button.readon.next {
  margin-left: auto;
  transition: 0.3s;
}
button.readon.next:focus {
  outline: none;
}
button.readon.disabled {
  opacity: 0.5;
  filter: grayscale(0.5);
}

button.readon-blank.prev {
  margin-left: auto;
}
.review-toolbar + .errors {
  margin-top: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.review-toolbar + .errors li.error {
  background: hsla(0, 97%, 95%, 1);
  display: inline-block;
  padding: 15px;
  border-radius: 4px;
}
.noise-level-buttons .readon.plain {
  display: block;
  margin: 10px 0px;
  font-size: 1.2em;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

.review-content {
  min-width: 50%;
  flex: 1;
}

.review-icon-container {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-left: 36px;
  box-sizing: border-box;
}

.noise-level-buttons .readon.plain:hover {
  background: #2b9abf;
  color: #ffffff;
}

.review-stars button {
  transition: 0.3s color;
  color: #d4d4d4;
}
.review-stars button.active {
  color: #2b9abf;
}
button.readon.demo {
  background: #6dd783;
  margin-left: 10px;
}
button.readon.plain.active {
  background-color: #2b9abf;
  color: #ffffff;
}
.review-content textarea {
  width: 100%;
  min-height: 300px;
  font-size: 1.2em;
  border-radius: 4px;
  border: 1px solid #dddddd;
}
span.rating-category {
  text-transform: capitalize;
}

.review-content h3 {
  font-size: 1.5em;
}

.review-content .review-stars {
  margin: 0px -5px;
}
section.body-rating .readon {
  justify-self: center;
  margin-top: 15px;
  width: 50%;
}

.noise-rating .review-content,
.body-rating .review-content {
  text-align: center;
}

.review-content textarea:focus {
  outline: none;
  box-shadow: 0px 0px 26px #e6e6e6;
}
