ul.reviews li {
  list-style-type: none;
}

li.review-index-item {
  display: flex;
}

.review-ratings {
  display: flex;
  flex-wrap: wrap;
}

.author-details {
  padding: 20px;
  border-right: 1px solid #dddddd;
  margin-right: 15px;
}
.author-details p {
  margin: 0px;
}

.rating-container {
  padding: 10px;
}

.rating-container .highlight {
  margin-left: 5px;
}
.ratings-container {
  width: 100%;
  display: flex;
}
.ratings-container .rating-container:first-child {
  padding-left: 0px;
}

li.review-index-item {
  margin: 25px 0px;
  border-top: 1px solid #dddddd;
  padding: 25px 0px;
}

ul.reviews {
  padding: 0px;
}

.author-details .user-avatar {
  background: #2b9abf;
  border-radius: 60px;
  color: #ffffff;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-details p {
  font-weight: bold;
}

p.user-reviews {
  display: flex;
  align-items: center;
  color: #969696;
  font-weight: normal;
  margin: 10px 0px;
}

p.user-reviews div {
  display: flex;
}

.author-details {
  min-width: 150px;
}

p.user-reviews svg {
  margin-right: 5px;
  font-size: 0.8em;
}

.restaurant-ratings-breakdown {
  display: flex;
}

.restaurant-rating-container {
  padding: 10px;
  text-align: center;
}

.restaurant-rating-container p {
  margin: 0;
}

.restaurant-rating-container p:first-child {
  font-weight: bold;
}

.restaurant-rating-container {
  padding: 10px;
  text-align: center;
}
.front-stars {
  width: 0%;
  transition: 0.3s all ease-in;
}
.user-reviews {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-reviews svg {
  font-size: 0.9em;
  margin-right: 5px;
}

.restaurant-bars {
  flex: 1;
  padding-left: 20px;
}

.stats-container {
  display: flex;
}

.stats-overview {
  width: 60%;
}

.stat-bar-container {
  display: flex;
  margin: 10px 0px 10px 10px;
  align-items: center;
  height: 25px;
}

.stat-bar {
  flex: 1;
}

.stat-bar {
  margin-left: 5px;
  border: 1px solid #dddddd;
  height: 100%;
  box-sizing: border-box;
}

.inner-stat-bar {
  background: #2b9abf;
  width: 0;
  transition: 0.3s all ease-in;
  height: 100%;
}
.review-toolbar {
  display: flex;
  margin-bottom: 25px;
}
.stat-bar-container > span {
  display: inline-block;
  min-width: 10px;
}
.stat-bar:hover .inner-stat-bar:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-amount) " reviews";
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  color: #ffffff;
  left: 0;
  top: 0px;
  bottom: 0px;
  right: 0;
  text-align: center;
}

.inner-stat-bar {
  position: relative;
}
.stat-bar {
  overflow: hidden;
}

.stat-bar:hover {
  border-color: #2b9abf;
  cursor: pointer;
  border-width: 2px;
}

.review select {
  min-width: 33%;
  font-size: 1em;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

.review textarea {
  width: 100%;
  margin-bottom: 25px;
}
.sort-dropdown button {
  border: 1px solid #dddddd;
  max-width: none;
  width: 100%;
  display: flex;
  padding: 10px;
  min-height: 41px;
}

.sort-dropdown button > .icon {
  margin: 0px;
  margin-left: auto;
}

.sort-dropdown {
  max-width: 50%;
  flex: 1;
}

.sort-dropdown {
  position: relative;
}

.sort-dropdown button ul {
  position: absolute;
  top: 73px;
  left: 0;
  right: 0;
  padding: 0px;
  margin: 0px;
  background: #ffffff;
  z-index: 1;
  border: 1px solid #ddd;
}

.sort-dropdown button ul li {
  list-style-type: none;
  text-align: left;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s all;
}

span.sort-value {
  text-transform: capitalize;
  font-size: 1.2em;
}

.sort-dropdown button ul li:hover {
  background: rgba(0, 0, 0, 0.05);
}
.form-container .review label {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  font-size: 1.2em;
}

ul.reviews {
  margin-top: 0px;
}

li.review-index-item:first-child {
  margin-top: 0px;
}

.review-container button.readon {
  margin-left: auto;
  align-self: flex-end;
}

.review-container {
  display: flex;
  flex-direction: column;
}

li.review-index-item {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 0px;
}

.review-filter-sort {
  flex: 1;
}

.filter-tag {
  font-size: 1em;
  border: 2px solid #2b9abf;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.filter-tag .icon {
  color: #2b9abf;
  font-size: 1.3em;
}

.author-details {
  margin-right: 0px;
  display: flex;
  background: #f6f6f6;
}

.review-details {
  padding: 20px;
}

.restaurant-rating-container {
  border-right: 1px solid #ddd;
}

.restaurant-rating-container:last-child {
  border-right: 0px;
}

.restaurant-rating-container p:last-child {
  font-weight: bold;
}

.restaurant-rating-container p:first-child {
  font-size: 1.2em;
}

.restaurant-additional-stats {
  opacity: 0.8;
}

.stats-overview > p:first-child {
  font-size: 1.3em;
  margin-top: 0px;
}
