ul.reviews li {
  list-style-type: none;
}

li.review-index-item {
  display: flex;
}

.review-ratings {
  display: flex;
  flex-wrap: wrap;
}

.author-details {
  padding: 20px;
  border-right: 1px solid #dddddd;
  margin-right: 15px;
}
.author-details p {
  margin: 0px;
}
.review-stars {
  width: 100%;
}

.rating-container {
  padding: 10px;
}

.rating-container .highlight {
  margin-left: 5px;
}

.review-stars + .rating-container {
  padding-left: 0px;
}

li.review-index-item {
  margin: 25px 0px;
  border-top: 1px solid #dddddd;
  padding: 25px 0px;
}

ul.reviews {
  padding: 0px;
}

.author-details .user-avatar {
  background: #2b9abf;
  padding: 20px;
  border-radius: 60px;
  color: #ffffff;
}

.author-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-details p {
  font-weight: bold;
}

p.user-reviews {
  display: flex;
  align-items: center;
  color: #969696;
  font-weight: normal;
  margin: 10px 0px;
}

p.user-reviews div {
  display: flex;
}

.author-details {
  min-width: 150px;
}

p.user-reviews svg {
  margin-right: 5px;
  font-size: 0.8em;
}

.restaurant-ratings-breakdown {
  display: flex;
}

.restaurant-rating-container {
  padding: 10px;
  text-align: center;
}

.restaurant-rating-container p {
  margin: 0;
}

.restaurant-rating-container p:first-child {
  font-weight: bold;
}

.restaurant-rating-container {
  padding: 10px;
  text-align: center;
}
.front-stars {
  width: 0%;
  transition: 0.3s all ease-in;
}
.user-reviews {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-reviews svg {
  font-size: 0.9em;
  margin-right: 5px;
}

.restaurant-bars {
  flex: 1;
  padding: 0px 20px;
}

.stats-container {
  display: flex;
}

.stats-overview {
  width: 60%;
}

.stat-bar-container {
  display: flex;
  margin: 10px;
}

.stat-bar {
  flex: 1;
}

.stat-bar {
  display: flex;
  margin-left: 5px;
  border: 1px solid #dddddd;
}

.inner-stat-bar {
  /* flex: 1; */
  background: #2b9abf;
  width: 0;
  transition: 0.3s all ease-in;
}
