@import "./variables";
section.search-results-form-container {
  padding: 20px;
  background: #333333;
}
.search-form form {
  padding: 0px;
}
section.restaurants-index > div {
  margin: 25px auto;
}
main#root {
  position: relative;
}

.search-form {
  position: relative;
  z-index: 5;
}

section.search-results-form-container .search-form form {
  margin: 0px;
}

section.search-results-form-container .search-form .res-container {
  margin: 0px;
}

section.search-results-form-container .search-form label {
  border-radius: 0px;
}

section.search-results-form-container .query-container {
  margin: 0px;
}
section.search-results-form-container .query-container input {
  border-radius: 0px;
}
section.restaurants-index {
  flex: 1;
  margin-left: 20px;
}

ul.restaurants-list {
  margin-left: 0px;
}

section.restaurants-index > p {
  font-size: 1.5em;
}

.price-options button {
  border: 1px solid #dddddd;
  padding: 10px;
  display: flex;
  font-size: 1em;
  line-height: 1.7;
  flex: 1;
  justify-content: center;
  background: #ffffff;
}

.price-buttons {
  display: flex;
}

.filter-options span.icon {
  min-width: auto;
  margin: 0px 2px;
}

.search-items {
  border: 1px solid #dddddd;
  border-top: 0px;
}
.filter-options {
  flex: 1;
}

.filter-options > p {
  font-size: 1.2em;
  margin-top: 0px;
}

.rating-options button {
  display: flex;
  text-align: left;
  position: relative;
  padding-left: 30px;
  box-sizing: border-box;
  margin: 0.5em 0px;
  vertical-align: middle;
  align-items: center;
  font-size: 1.1em;
}

.rating-options button:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 25px;
  height: 100%;
  border-radius: 2px;
  border: 2px solid #000;
}

.rating-options button.active:before {
  background: $primary-accent-color;
  border-color: $primary-accent-color;
}
.rating-options button:hover:after {
  position: absolute;
  content: "";
  height: 1px;
  border-color: $primary-accent-color;
  background: $primary-accent-color;
  left: 25px;
  right: 5px;
  bottom: 0px;
}
.rating-options button:focus {
  outline: none;
}
.rating-options button:before {
  transition: 0.3s;
}
.price-options button.active,
.price-options button:hover {
  background: $primary-accent-color;
  color: #ffffff;
  border-color: $primary-accent-color;
}

span.tag {
  background: #333333;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  display: inline-block;
  font-size: 0.85em;
  margin: 5px;
}

span.tag:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #333333;
}

.filters-container {
  padding: 26px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: sticky;
  background: #f7f7f7;
  box-sizing: border-box;
  top: 0;
  z-index: 20;
}

.filter-header p {
  margin: 0px;
}

.filter-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.filter-header .readon-blank {
  margin-left: auto;
}

.filter-tags button {
  background: #ffffff;
  border-radius: 4px;
}

.filter-tag span.icon:last-child {
  margin-left: 5px;
}

ul.restaurants-list {
  margin: 0px;
}

section.restaurants-container aside {
  /* position: sticky; */
  /* top: 0; */
}

.filter-options {
  position: sticky;
  top: 0;
}

.price-options button:focus {
  outline: none;
}

.filter-options button > * {
  pointer-events: none;
}
